@import '../app.component';
form {
    padding: 5%;
    margin: 40% auto 80% auto;
    color: #17a2b8;
    box-shadow: 5px 10px whitesmoke;
    @include bg('form-bg')
}

.xml-form-bg {
    @include bg('component-bg');
}

input {
    color: #17a2b8;
}

input:hover {
    color: #17a2b8;
}

::-webkit-file-upload-button {
    background-color: #17a2b8;
    color: whitesmoke;
    border-color: #17a2b8;
    outline: none;
}