<section class="container-fluid xml-form-bg">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form method="POST" action="">
                <div class="col-sm-6">
                    <h1>Import XML file</h1>
                    <label for="xmlfile">XML file*</label>
                    <input type="file" name="xmlfile" class="btn btn-sm" id="xmlfile" required>
                </div>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</section>