<section class="container-fluid error-page-box">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-1">
            <p class="error-number">4</p>
        </div>
        <div class="col-sm-1">
            <i class="fa fa-question-circle question-style"></i>
        </div>
        <div class="col-sm-2">
            <p class="error-number">4</p>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <p class="text">PAGE NOT FOUND!!!</p>
            <p class="text">Go back to <a routerLink="/login">login</a> page!!!</p>
        </div>
        <div class="col-sm-4"></div>
    </div>
</section>