$font-sizes:("small":14px, "medium":18px, "big":20px, "biggest":30px);
$font-weights:("regular":400, "medium":500, "bold":700);
@mixin bg($type-of-bg) {
    @if $type-of-bg=='component-bg' {
        background-color: #17a2b8;
    }
    @else if $type-of-bg=='form-bg' {
        background-color: #EAEAEA;
    }
}

@mixin form-btn-style {
    margin-left: 40%;
    width: 20%;
    background-color: #17a2b8 !important;
    border-color: #17a2b8;
    color: white;
}