<section class="container-fluid bg message-layout">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-7 tender-message">
            <p><b>Supplier Name: </b>{{tender.supplier.label}}</p>
            <p><b>Supplier Email: </b> {{tender.supplier.email}}</p>
            <h1>Qualifications</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Capabilities</th>
                        <th scope="col">Description</th>
                        <th scope="col">Evidence</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let q of qualifications">
                        <td>{{q.tendererCapability}}</td>
                        <td>{{q.description}}</td>
                        <td>{{q.evidenceId}}</td>
                    </tr>
                </tbody>
            </table>
            <h1>Evidences</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Evidence Id</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of evidences">
                        <td scope="col">{{e.evidenceId}}</td>
                        <td scope="col">{{e.description}}</td>
                    </tr>
                </tbody>
            </table>
            <p class="crop"><b>Digital Signature:</b> {{tender.digitalSignature.signatureHash}}</p>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form (ngSubmit)="onSubmitHospitalForm()" [formGroup]="hospital" class="form-response">
                <h1>Hospital Details</h1>
                <div class="form-group">
                    <label for="hospitalId">ID*:</label>
                    <input type="text" id="hospitalId" class="form-control" formControlName="id" required>
                </div>
                <div class="form-group">
                    <label for="label">Label*:</label>
                    <input type="text" id="label" class="form-control" formControlName="label" required>
                </div>
                <div class="form-group">
                    <label for="email">Email*:</label>
                    <input type="text" id="email" class="form-control" formControlName="email" required>
                </div>
                <div class="form-group">
                    <label for="address">Address*:</label>
                    <input type="text" id="address" class="form-control" formControlName="address" required>
                </div>
                <button type="submit" class="btn btn-sm next-btn">Next</button>
            </form>
            <form (ngSubmit)="onSubmitResponseForm()" [formGroup]="responseForm" class="form-response">
                <h1>Response</h1>
                <div class="form-group">
                    <label for="decision">Decision*:</label>
                    <select id="decision" formControlName="decision" class="form-control" required>
                        <option value="true" [attr.selected]="true">Accept</option>
                        <option value="false">Decline</option>
                    </select>
                </div>
                <button class="btn btn-sm btn-danger" type="button" id="btn-add-exclusion-reason" (click)="showExclusionReasonInput()">Add Exclusion Reason</button>
                <div class="form-group" id="er"></div>
                <div id="rm-btn"></div>
                <button class="btn btn-sm btn-dark" type="submit">Send Message</button>
            </form>

        </div>
        <div class="col-sm-4"></div>
    </div>
</section>