<section class="container-fluid forms-bg">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form method="POST" action="" [formGroup]="personDetailsForm">
                <h1>Person Details</h1>
                <div class="form-group">
                    <label for="id">ID*: </label>
                    <input type="text" class="form-control" id="id" formControlName="id" required>
                </div>
                <div class="form-group">
                    <label for="name">Name*: </label>
                    <input type="text" class="form-control" id="name" formControlName="name" required>
                </div>
                <div class="form-group">
                    <label for="surname">Surname*: </label>
                    <input type="text" class="form-control" id="surname" formControlName="surname" required>
                </div>
                <div class="form-group">
                    <label>Other Name: </label>
                    <input type="text" class="form-control" id="othername" formControlName="othername" required>
                </div>
                <div class="form-group">
                    <label for="jobtitle">Job Title*: </label>
                    <select formControlName="jobTitle" id="jobtitle" class="form-control" required>
                        <option value="">Select...</option>
                        <option value="clerk">clerk</option>
                        <option value="manager">manager</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-sm next-btn">Next</button>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form method="POST" action="" [formGroup]="hospitalDetailsForm">
                <h1>Hospital Details</h1>
                <div class="form-group">
                    <label for="id">ID*:</label>
                    <input type="text" id="id" class="form-control" formControlName="id" required>
                </div>
                <div class="form-group">
                    <label for="name">Name*:</label>
                    <input type="text" id="name" class="form-control" formControlName="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email*:</label>
                    <input type="text" id="email" class="form-control" formControlName="email" required>
                </div>
                <div class="form-group">
                    <label for="address">Address*:</label>
                    <input type="text" id="address" class="form-control" formControlName="address" required>
                </div>
                <button type="submit" class="btn btn-sm next-btn">Next</button>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form method="POST" action="" [formGroup]="reqForm">
                <h1>Requirements</h1>
                <div id="reqInputs" class="form-group"></div>
                <div id="rmBtn"></div>
                <button type="button" class="btn btn-sm req-add-btn" (click)="createNewReqInputs()">Add Requirement</button>
                <button type="button" class="btn btn-sm next-btn" (click)="getRequirements()">Next</button>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form method="POST" action="" class="form-tender-duration" [formGroup]="tenderDurationForm">
                <h1>Tender Duration</h1>
                <div class="form-group">
                    <label for="startdatetime">Start Datetime*:</label>
                    <input type="datetime-local" id="startdatetime" class="form-control" formControlName="startDateTime" required>
                </div>
                <div class="form-group">
                    <label for="enddatetime">End Datetime*:</label>
                    <input type="datetime-local" id="enddatetime" class="form-control" formControlName="endDateTime" required>
                </div>
                <button type="submit" class="btn btn-sm next-btn">Send</button>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</section>