<section class="container-fluid tenders-bg">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link pagination-bg" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link pagination-bg">1</a></li>
                <li class="page-item"><a class="page-link pagination-bg">2</a></li>
                <li class="page-item"><a class="page-link pagination-bg">3</a></li>
                <li class="page-item"><a class="page-link pagination-bg">4</a></li>
                <li class="page-item"><a class="page-link pagination-bg">5</a></li>
                <li class="page-item">
                    <a class="page-link pagination-bg" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <section class="list-group list-style">
                <div class="list-group-item list-bg">
                    <p>Supplier1</p>
                    <a class="btn btn-sm btn-primary">Read Tender</a>
                </div>
                <div class="list-group-item list-bg">
                    <p>Supplier2</p>
                    <a class="btn btn-sm btn-primary">Read Tender</a>
                </div>
                <div class="list-group-item list-bg">
                    <p>Supplier3</p>
                    <a class="btn btn-sm btn-primary">Read Tender</a>
                </div>
                <div class="list-group-item list-bg">
                    <p>Supplier4</p>
                    <a class="btn btn-sm btn-primary">Read Tender</a>
                </div>
                <div class="list-group-item list-bg">
                    <p>Supplier5</p>
                    <a class="btn btn-sm btn-primary">Read Tender</a>
                </div>
            </section>
        </div>
        <div class="col-sm-4"></div>
    </div>
</section>