<section class="container-fluid tenders-bg">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <section class="list-group list-style">
                <div class="list-group-item list-bg" *ngFor="let t of tenders">
                    <p>Supplier: {{t.supplier.label}}</p>
                    <a class="btn btn-sm btn-primary" (click)="goToTender(t)">Read Tender</a>
                </div>
            </section>
        </div>
        <div class="col-sm-4"></div>
    </div>
</section>