<section class="container-fluid register-bg">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-3">
            <h1 class="sys-title">Suppliers Contract System</h1>
            <form (ngSubmit)="onSubmitRegisterForm()" class="register-form" [formGroup]='registerForm'>
                <h2 class="text-center">Register Form</h2>
                <div [formGroup]="supplier">
                    <div class="form-group">
                        <label for="label">Name*: </label>
                        <input type="text" class="form-control" id="label" formControlName="label" placeholder="Enter label..." required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email*:</label>
                        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter email..." required>
                    </div>
                    <div class="form-group">
                        <label for="email">Address*:</label>
                        <input type="email" class="form-control" id="address" formControlName="address" placeholder="Enter address..." required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password*:</label>
                    <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter password..." required>
                </div>
                <button type="submit" class="btn-register btn btn-sm">Register</button>
                <a routerLink="/login" class="form-text login-text">Go to login page</a>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</section>