<section class="container-fluid register-bg">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-3">
            <h1 class="sys-title">Hospitals Contract System</h1>
            <form (ngSubmit)="onSubmitRegisterForm()" class="register-form" [formGroup]='registerForm'>
                <h2 class="text-center">Register Form</h2>
                <div [formGroup]="person">
                    <div class="form-group">
                        <label for="name">Name*: </label>
                        <input type="text" class="form-control" id="name" formControlName="personName" placeholder="Enter Name..." required>
                    </div>
                    <div class="form-group">
                        <label for="surname">Surname*:</label>
                        <input type="text" class="form-control" id="surname" formControlName="personSurname" placeholder="Enter Surname..." required>
                    </div>
                    <div class="form-group">
                        <label for="othername">Other Name:</label>
                        <input type="text" class="form-control" id="othername" formControlName="personOtherName" placeholder="Enter other name...">
                    </div>
                    <div class="form-group">
                        <label for="jobtitle">Job Title*:</label>
                        <select formControlName="personJobTitle" id="jobtitle" class="form-control" required>
                        <option>Select...</option>
                        <option value="clerk">Clerk</option>
                        <option value="manager">Manager of Supplies Department</option>
                    </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email*:</label>
                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter email..." required>
                </div>
                <div class="form-group">
                    <label for="password">Password*:</label>
                    <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter password..." required>
                </div>
                <div class="form-group">
                    <label for="hospital">Hospital*:</label>
                    <select formControlName="hospitalLabel" id="hospital" class="form-control" required>
                    <option>Select...</option>
                    <option value="hospital1">hospital1</option>
                    <option value="hospital2">hospital2</option>
                    <option value="hospital3">hospital3</option>
                </select>
                </div>
                <button type="submit" class="btn-register btn btn-sm">Register</button>
                <a routerLink="/login" class="form-text login-text">Go to login page</a>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</section>